In [1]:
import subprocess, os, re, pandas as pd

pred_lengths = [24, 48, 96, 168]
records = []

for pred in pred_lengths:
    model_id = f"TimeXer_168_{pred}"
    res = subprocess.run(
        f"bash scripts/TimeXer.sh --pred_len {pred} --model_id {model_id}",
        shell=True, capture_output=True, text=True,
        env={**os.environ, "CUDA_VISIBLE_DEVICES": "0"}
    )
    m = re.search(r"mse[:\s]*([\d.eE+-]+).*mae[:\s]*([\d.eE+-]+)", res.stdout, re.I | re.S)
    if m:
        mse, mae = map(float, m.groups())
        records.append({"model_id": model_id, "MSE": mse, "MAE": mae})

df = pd.DataFrame(records)
df

          model_id       MSE       MAE
0   TimeXer_168_24  0.114065  0.207589
1   TimeXer_168_48  0.152094  0.243412
2   TimeXer_168_96  0.187396  0.273756
3  TimeXer_168_168  0.191931  0.277596